.section {    
    width: 40vw;
    margin: 1em auto;
    text-align: center;

    background-color: white;
    padding: 2em 1em;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0px 0px 3px black;

}

.section ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-left: 1em;
}


.section ul li h3 {
    width: 5em;
    text-align: left;
    margin-right: 2em;
}

.section ul li p {
    width: 5em;
}

.section ul li button {
    margin-left: 1em;
    padding: .5em 1em;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #0096FF;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.section ul li button:hover {
    transform: scale(1.05);
    transition: .15s;
}

.section ul li button:active {
    transform: scale(.9);
    background-color: green;
    transition: .05s;
}